{# Shared app header + sidebar nav. Pass active_page: portfolio | holdings | trades | incomes | info | settings #}
<header class="app-header fixed-top">
    <div class="app-header-inner">
        <div class="container-fluid py-2">
            <div class="app-header-content">
                <div class="col-auto">
                    <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                    </a>
                </div>
            </div><!--//app-header-content-->
        </div><!--//container-fluid-->
    </div><!--//app-header-inner-->
    <div id="app-sidepanel" class="app-sidepanel">
        <div id="sidepanel-drop" class="sidepanel-drop"></div>
        <div class="sidepanel-inner d-flex flex-column">
            <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
            <div class="app-branding">
                <a class="app-logo loading" href="{{ url_for('portfolio') }}"><span class="logo-text">Sharefolio</span></a>
            </div><!--//app-branding-->

            <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
                <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                    <li class="nav-item">
                        <a class="nav-link loading{% if active_page == 'portfolio' %} active{% endif %}" href="{{ url_for('portfolio') }}">
                            <span class="nav-icon"><i class="fa-solid fa-chart-column"></i></span>
                            <span class="nav-link-text">{{ t('nav.portfolio') }}</span>
                        </a><!--//nav-link-->
                    </li><!--//nav-item-->

                    <li class="nav-item">
                        <a class="nav-link loading{% if active_page == 'holdings' %} active{% endif %}" href="{{ url_for('holdings') }}">
                            <span class="nav-icon"><i class="fa-solid fa-hand-holding-dollar"></i></span>
                            <span class="nav-link-text">{{ t('nav.holdings') }}</span>
                        </a><!--//nav-link-->
                    </li><!--//nav-item-->
                    <li class="nav-item has-submenu">
                        <a class="nav-link submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-1" aria-expanded="false" aria-controls="submenu-1">
                            <span class="nav-icon"><i class="fa-solid fa-money-bill-transfer"></i></span>
                            <span class="nav-link-text">{{ t('nav.transactions') }}</span>
                            <span class="submenu-arrow">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
</svg>
                            </span><!--//submenu-arrow-->
                        </a><!--//nav-link-->
                        <div id="submenu-1" class="show submenu submenu-1" data-bs-parent="#menu-accordion">
                            <ul class="submenu-list list-unstyled">
                                <li class="submenu-item"><a class="submenu-link loading{% if active_page == 'trades' %} active{% endif %}" href="{{ url_for('trades') }}">{{ t('nav.trades') }}</a></li>
                                <li class="submenu-item"><a class="submenu-link loading{% if active_page == 'incomes' %} active{% endif %}" href="{{ url_for('incomes') }}">{{ t('nav.incomes') }}</a></li>
                            </ul>
                        </div>
                    </li><!--//nav-item-->
                </ul><!--//app-menu-->
            </nav><!--//app-nav-->

            <div class="app-sidepanel-footer">
                <nav class="app-nav app-nav-footer">
                    <ul class="app-menu footer-menu list-unstyled">
                        <li class="nav-item">
                            <a class="nav-link{% if active_page == 'info' %} active{% endif %}" href="{{ url_for('info') }}">
                                <span class="nav-icon">
                                    <i class="fa fa-info"></i>
                                </span>
                                <span class="nav-link-text">{{ t('nav.help') }}</span>
                            </a><!--//nav-link-->
                        </li><!--//nav-item-->
                        <li class="nav-item">
                            <a class="nav-link{% if active_page == 'settings' %} active{% endif %}" href="{{ url_for('settings') }}">
                                <span class="nav-icon">
                                    <i class="fa fa-cogs"></i>
                                </span>
                                <span class="nav-link-text">{{ t('nav.settings') }}</span>
                            </a><!--//nav-link-->
                        </li><!--//nav-item-->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">
                                <span class="nav-icon">
                                    <i class="fa fa-home"></i>
                                </span>
                                <span class="nav-link-text">{{ t('nav.home') }}</span>
                            </a><!--//nav-link-->
                        </li><!--//nav-item-->
                    </ul><!--//footer-menu-->
                </nav>
            </div><!--//app-sidepanel-footer-->

        </div><!--//sidepanel-inner-->
    </div><!--//app-sidepanel-->
</header><!--//app-header-->
