<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Sharefolio - Information</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Sharefolio">
    <meta name="author" content="Ivan YeH">    
    <!-- <link rel="shortcut icon" href="favicon.ico">  -->
    
    <!-- FontAwesome JS-->
    <!-- <script defer src="assets/plugins/fontawesome/js/all.min.js"></script> -->
    <script defer src="{{ url_for('static', filename='assets/plugins/fontawesome/js/all.min.js') }}"></script>
    
    <!-- App CSS -->  
    <!-- <link id="theme-style" rel="stylesheet" href="assets/css/portal.css"> -->
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='assets/css/portal.css') }}">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head> 

<body class="app">   	
    <header class="app-header fixed-top">	   	            
        <div class="app-header-inner">  
	        <div class="container-fluid py-2">
		        <div class="app-header-content"> 
				    <div class="col-auto">
					    <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
						    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
					    </a>
				    </div>
		        </div><!--//row-->
	            </div><!--//app-header-content-->
	        </div><!--//container-fluid-->
        </div><!--//app-header-inner-->
        <div id="app-sidepanel" class="app-sidepanel"> 
	        <div id="sidepanel-drop" class="sidepanel-drop"></div>
	        <div class="sidepanel-inner d-flex flex-column">
		        <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
		        <div class="app-branding">
		            <a class="app-logo loading" href="/portfolio"><span class="logo-text">Sharefolio</span></a>
		        </div><!--//app-branding-->  
		        
			    <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
				    <ul class="app-menu list-unstyled accordion" id="menu-accordion">
					    <li class="nav-item">
					        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
					        <a class="nav-link loading" href="{{ url_for('portfolio') }}">
						        <span class="nav-icon"><i class="fa-solid fa-chart-column"></i></span>
		                        <span class="nav-link-text">Portfolio</span>
					        </a><!--//nav-link-->
					    </li><!--//nav-item-->
					    
					    <li class="nav-item">
					        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
					        <a class="nav-link loading" href="{{ url_for('holdings') }}">
								<span class="nav-icon" href><i class="fa-solid fa-hand-holding-dollar"></i></span>
		                         <span class="nav-link-text">Holdings</span>
					        </a><!--//nav-link-->
					    </li><!--//nav-item-->
						<li class="nav-item has-submenu">
					        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
					        <a class="nav-link submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-1" aria-expanded="false" aria-controls="submenu-1">
						        <span class="nav-icon"><i class="fa-solid fa-money-bill-transfer"></i></span>
		                         <span class="nav-link-text">Transactions</span>
		                         <span class="submenu-arrow">
		                             <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
	</svg>
	                             </span><!--//submenu-arrow-->
					        </a><!--//nav-link-->
					        <div id="submenu-1" class="show submenu submenu-1" data-bs-parent="#menu-accordion">
						        <ul class="submenu-list list-unstyled">
							        <li class="submenu-item"><a class="submenu-link loading" href="{{ url_for('trades') }}">Trades</a></li>
							        <li class="submenu-item"><a class="submenu-link loading" href="{{ url_for('incomes') }}">Incomes</a></li>
						        </ul>
					        </div>
					    </li><!--//nav-item-->
						
						
				    </ul><!--//app-menu-->
			    </nav><!--//app-nav-->
			    
				<div class="app-sidepanel-footer">
				    <nav class="app-nav app-nav-footer">
					    <ul class="app-menu footer-menu list-unstyled">
						    <li class="nav-item">
						        <a class="nav-link active" href="/info">
							        <span class="nav-icon">
										<i class="fa fa-info"></i>
									</span>
			                        <span class="nav-link-text">Information</span>
						        </a><!--//nav-link-->
						    </li><!--//nav-item-->
						    <li class="nav-item">
						        <a class="nav-link" href="/settings">
							        <span class="nav-icon">
										<i class="fa fa-cogs"></i>
									</span>
			                        <span class="nav-link-text">Settings</span>
						        </a><!--//nav-link-->
						    </li><!--//nav-item-->
						    <li class="nav-item">
						        <a class="nav-link" href="{{ url_for('logout') }}">
							        <span class="nav-icon">
										<i class="fa fa-sign-out"></i>
									</span>
			                        <span class="nav-link-text">Log out</span>
						        </a><!--//nav-link-->
						    </li><!--//nav-item-->
					    </ul><!--//footer-menu-->
				    </nav>
			    </div><!--//app-sidepanel-footer-->
		       
	        </div><!--//sidepanel-inner-->
	    </div><!--//app-sidepanel-->
    </header><!--//app-header-->
    
    <div class="app-wrapper">
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<h1 class="app-page-title">Information</h1>
			<div class="container-xl">
				<div class="app-card app-card-accordion shadow-sm mb-4">
					<!-- <div class="app-card-header p-4 pb-2  border-0">
						<h4 class="app-card-title">Investments</h4>
					</div> -->
					<div class="app-card-body p-4 pt-0">
						<div id="faq1-accordion" class="faq1-accordion faq-accordion accordion">
							
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq1-heading-1">
									<button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse"  data-bs-target="#faq1-1" aria-expanded="false" aria-controls="faq1-1">
									Supported exchanges, currency and assets.
									</button>
								</h2>
								<div id="faq1-1" class="accordion-collapse collapse border-0" aria-labelledby="faq1-heading-1">
									<div class="accordion-body text-start p4">
										Sharefolio supports listed securities traded on the NYSE and NASDAQ in the US, the ASX in Australia, the TSX in Canada, the TWSE in Taiwan and the OTC Market in Taiwan. 
										The supported currencies include USD, AUD, CAD and TWD. 
										If you wish to record an unlisted asset, you have an option to select 'OTHER' as the exchange, as long as it is traded in one of the supported currencies. 
									</div>
								</div>
							</div><!--//accordion-item-->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq1-heading-1">
									<button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse"  data-bs-target="#faq1-1" aria-expanded="false" aria-controls="faq1-1">
									What if the historical prices are not available for some assets?
									</button>
								</h2>
								<div id="faq1-1" class="accordion-collapse collapse border-0" aria-labelledby="faq1-heading-1">
									<div class="accordion-body text-start p4">
										If price or FX data is unavailable, the asset's market value will default to your original purchase cost until updated data becomes available.
										All other returns generated from incomes such as dividends, distributions and interests are calculated as usual. 
									</div>
								</div>
							</div><!--//accordion-item-->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq1-heading-1">
									<button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse"  data-bs-target="#faq1-1" aria-expanded="false" aria-controls="faq1-1">
									When should I record a trade or an income?
									</button>
								</h2>
								<div id="faq1-1" class="accordion-collapse collapse border-0" aria-labelledby="faq1-heading-1">
									<div class="accordion-body text-start p4">
										If a transaction has an impact on the quantity of your holdings as a result of buying, selling or adjustments (stock split, consolidation, etc.), it is generally considered a trade. 
										On the other hand, if a transaction involves cash settlements only (dividends, distributions or interests), it is generally considered an income. 
									</div>
								</div>
							</div><!--//accordion-item-->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq1-heading-1">
									<button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse"  data-bs-target="#faq1-1" aria-expanded="false" aria-controls="faq1-1">
									How do I record a dividend/distribution reinvestment transaction?
									</button>
								</h2>
								<div id="faq1-1" class="accordion-collapse collapse border-0" aria-labelledby="faq1-heading-1">
									<div class="accordion-body text-start p4">
										A dividend/distribution reinvestment transaction has two components: an income and a trade. In this transaction, you receive an income from your investment and use that amount to acquire more investments.
										On Sharefolio, when you add an income, you can elect to enter a dividend/distribution reinvestment trade on the same page. Alternatively, you can record the income and the reinvestment trade separately on the Incomes and Trades Pages. 
									</div>
								</div>
							</div><!--//accordion-item-->

												
						</div><!--//faq1-accordion-->
					</div><!--//app-card-body-->
				</div><!--//app-card-->
			</div>
		</div>
	    
	    <footer class="app-footer">
		    <div class="container text-center py-3">
		         <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Developed by <a class="app-link" href="https://www.linkedin.com/in/ivan-yeh-58367122b/" target="_blank">Ivan Yeh</a></small>
		       
		    </div>
	    </footer><!--//app-footer-->
	    
    </div><!--//app-wrapper-->    					


	<!-- JavaScript -->
	<script src="{{ url_for('static', filename='assets/plugins/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>

	<!-- Charts JS -->
	<script src="{{ url_for('static', filename='assets/plugins/chart.js/chart.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/index-charts.js') }}"></script>

	<!-- Page-Specific JS -->
	<script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>

</body>
</html> 

